$white = #fff
$black = #000
$g-black = rgb(16,16,16)
$g-black-op = rgba(16,16,16,0.8)

$highlight_color = rgb(0,0,0)
$high_simple_color = #666
$active_color = rgb(65, 70, 75)
$active_text_color = #fff
$common_text_color = rgb(48, 49, 51)
$common_color = rgb(245,245,245)
$common_high_color = #ccc
$simple_color= #eee
$border_color = #e2e2e2

$shadow_color = #e2e2e2

$logo_gray = rgb(150,66,44)
$logo_gray_high = rgb(129,55,45)
$logo_yellow = rgb(240,199,111)
$logo_yellow_high = rgb(242,220,129)

$site_normal = #ccc8bd
$site_active = #827b6b
$site_strong = #ff0606

$site_opacity = rgba(16,16,16,0.5)

$navwidth = 250px
$padding-v = 50px
$content_padding = 200px
