$white = #fff
$black = #000
$g-black = #101010

$highlight_color = rgb(0,0,0)
$active_color = rgb(65, 70, 75)
$active_text_color = #fff
$common_text_color = rgb(48, 49, 51)
$common_color = rgb(245,245,245)
$common_high_color = #ccc
$simple_color= #eee
$high_simple_color = #666


$site_normal = #ccc8bd
$site_active = #827b6b
$site_strong = #ff0606

$site_opacity = rgba(16,16,16,0.5)
