@import '~@/common/css/base'
.el-dropdown-menu
  li.el-dropdown-menu__item
    color: $high_simple_color
    &:not(.is-disabled):hover,&:not(.is-disabled):active
      background-color: $common_color
      color: $common_text_color
*
  padding: 0
  margin: 0
